pip==21.3.1
biopython==1.74
dash
dash_extensions
dash_bootstrap_components
biopython==1.74
dash
dash-core-components
dash-html-components==2.0.0
dash_bootstrap_components
dash_extensions
flask
gensim==4.3.1
gunicorn
joblib
keras==2.10.0
modlamp
numpy==1.24.3
pandas
plotly
pydpi==1.0
pyfasta==0.5.2
scikit-learn==1.5.2
scipy==1.10.1
tensorflow==2.10.0
uvicorn
xgboost